version: "3"

services:
  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  users:
    build: ./users-service-node
    ports:
      - "3001:3001"
    depends_on:
      - mongo

  workouts:
    build: ./workouts-service-python
    ports:
      - "8000:8000"

  gateway:
    build: ./gateway-node
    ports:
      - "3002:3002"
    depends_on:
      - users
      - workouts

  frontend:
    build: ./frontend
    ports:
      - "8080:8080"
    depends_on:
      - gateway

volumes:
  mongo-data:
